@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background: #565554;
}

h1, h2, h3, h4, h5, h6, hr {
  color: #FCA311 !important;
  background: transparent;
}

.naming:hover {
  cursor: default !important;
}

.header {
  box-shadow: 0px 1px 5px black;
  position: fixed;
  top: 0;
  min-width: 100%;
  background: #565554;
  padding: 16px;
  text-align: center;
  line-height: 35px;
  transition: 0.2s;
} .left {
  float: left;
  width: auto;
  font-size: 18px;
} .left,
  .right {
    background: transparent;
} .right {
  float: right;
  width: 20%;
  text-align: left;
}
.scrolling {
  position: fixed;
  top: 0;
  z-index: 5;
  background: #11213D;
}

a {
  transition: 0.2s;
  color: inherit;
} a:hover, a:active, a:focus {
  color: #CCDAD1;
  text-decoration: none;
}

.parent-login {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background: #565554;
}

.login-form label {
  color: #ccc;
  font-size: 16px;
} .login-form input {
  background: transparent;
  border: none;
  color: white;
  font-size: 20px;
  transition: 1s;
} .login-form input, .login-form label {
  margin-left: 10px;
} .login-form input:active,
  .login-form input:focus {
    outline: none;
    border-bottom: 1px solid black;
}

.login-form .username {
  position: relative;
  margin-bottom: 25px;
} .login-form .password {
  position: relative;
} .login-form .username::before,
  .login-form .password::before {
  content: " ";
  position: absolute;
  width: 4px;
  height: 45px;
  left: 0;
  bottom: 5px;
  background: #FCA311;
  border-radius: 15px;
  box-shadow: 0px 0px 5px #FCA311;
}

.login-form .btn {
  background: transparent;
  color: #FCA311;
  font-size: 26px;
  transition: 0.2s;
  margin-top: 20px;
} .login-form .btn:hover {
  color: #CCDAD1;
  cursor: pointer;
}

.logout {
  font-size: 14px;
} .logout:hover {
  cursor: pointer;
}

.recover {
  transition: 0.2s;
  color: darkgray;
  margin-left: 15px;
  font-size: 12px;
} .recover:hover {
  color: #FCA311;
  text-decoration: none;
}

.errormsg {
  color: #DB5461 !important;
}

.sendmail {
  margin-top: 250px;
}

.role {
  color: #FCA311;
} .name {
  color: white !important;
}
